{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <table class="table-auto">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Contents</th>
                <td>{{ post.contents }}</td>
            </tr>
            <tr>
                <th>Contents2</th>
                <td>{{ post.contents2 }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ post.subtitle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>ImgPost</th>
                <td>{{ post.imgPost ? post.imgPost|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>ImgPost2</th>
                <td>{{ post.imgPost2 ? post.imgPost2|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>ImgPost3</th>
                <td>{{ post.imgPost3 ? post.imgPost3|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>ImgPost4</th>
                <td>{{ post.imgPost4 ? post.imgPost4|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>ImgThumbnail</th>
                <td>{{ post.imgThumbnail }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImgThumbnailJpg</th>
                <td>{{ post.imgThumbnailJpg }}</td>
            </tr>
            <tr>
                <th>Subtitle2</th>
                <td>{{ post.subtitle2 }}</td>
            </tr>
            <tr>
                <th>Contents3</th>
                <td>{{ post.contents3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_posts_index') }}">back to list</a>

    <a href="{{ path('app_back_posts_edit', {'id': article.id}) }}">edit</a>

    {{ include('back/articles/_delete_form.html.twig') }}
{% endblock %}
