{% extends 'base.html.twig' %}

{% block title %}Translate index{% endblock %}

{% block body %}
    <h1>Translate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for translate in translates %}
            <tr>
                <td>{{ translate.id }}</td>
                <td>{{ translate.name }}</td>
                <td>
                    <a href="{{ path('app_back_translate_show', {'id': translate.id}) }}">show</a>
                    <a href="{{ path('app_back_translate_edit', {'id': translate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_translate_new') }}">Create new</a>
{% endblock %}
